@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;


}

.header-nav {
    background-color: bisque;

    /* width: 100%; */
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    /* background-image: url(/images/cup-fresh-made-coffee-served-cup_1220-4580.jpg); */
    ;
}

.header-nav .menu-list {
    /* background-color: blue; */
    display: flex;
    list-style: none;


}
.header-logo {
    color: white;
    font-size: 22px;
}

.header-nav .menu-list li {
    color: white;
    margin: 0 10px;
    font-size: 22px;


}

/* Section 1 starts here  */

.section-1{

    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;

}
.section-1-bg-image img{
    width: 100%;
    opacity: 0.9;
}

.section-1 .section-1-body {
    position: absolute;
    top: 20%;
    left: 30%;
    align-items: center;
    gap: 3.5rem;
    
    
}

.section-1-body {
    color: white;
    display: flex;
    flex-direction: column;
}
.text-2 {
    font-size: 50px;
    font-weight: 600;

}
.text-3  p {
    font-family: 'Open Sans', sans-serif;
}
.two-options {
    width: 220px;
    display: flex;
    justify-content: space-between;
}
.option-1 {
    border: 1px solid white;
    padding: 10px;
    font-size: 15;
    
}
.option-2 {
    border: 1px solid white;
    padding: 10px;
    font-size: 15;
}

/* Section 1 ends here */
.section-2{
    background-color: black;
    height: 15vh;
}
.section-2-info {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 200px;
    padding: 20px;

}
ul{
    list-style: none;
}

/* end section starts here */

.end-section{
    padding: 50px 100px;
    background-color: rgb(41, 39, 39);
}

.end-section .end-sec-contents {
  
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    color: white;
    
}
.combined {
    display: flex;
    gap: 10px;
    
    
}
.row-info ul{
    display: flex;
    
    
}
.recent-blog{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.comb-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    

}
.about-us{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.services {
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.questions{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.ser-lists{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.info-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* footer */
footer{
    background-color: rgb(41, 39, 39);
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 20px;
}